<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24493903111-2q6ou1873jouf35tdk7jjvcbep6cpo7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24493903111-2q6ou1873jouf35tdk7jjvcbep6cpo7d</string>
	<key>API_KEY</key>
	<string>AIzaSyAkb-lfucbBDSagfIGJDpcBa1k95fSIcY8</string>
	<key>GCM_SENDER_ID</key>
	<string>24493903111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventChallenge</string>
	<key>PROJECT_ID</key>
	<string>event-challenge-a4ddb</string>
	<key>STORAGE_BUCKET</key>
	<string>event-challenge-a4ddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24493903111:ios:618e4261ac8aa4159009a2</string>
</dict>
</plist>